.gallery {

}

.gallery h1{
    text-align: center;
}

.gallery-photos {
    display: flex;
    flex-direction: column;
}

.photo-one {
    width: 50%;
    height: 25%;
}

.photo-two {
    width: 50%;
    height: 25%;
}

.photo-three {
    width: 50%;
    height: 25%;
}

.photo-four {
    width: 50%;
    height: 25%;
}


.golfcourse-photo {
    width: 100%;
    height: 10%;
}