.gallery h1{
    text-align: center;
}

.photo-one {
    margin-right: 10%;
    margin-left: 10%;
    width: 400px;
    height: 400px;
}

.photo-two {
    margin-right: 5%;
    margin-left: 5%;
    width: 400px;
    height: 400px;
}

.photo-three {
    margin-right: 10%;
    margin-left: 10%;
    width: 400px;
    height: 400px;
}

.photo-four {
    margin-right: 5%;
    margin-left: 5%;
    width: 400px;
    height: 400px;
}