.our-certification {
    position: relative;
    padding: 50px;
    // margin-top: 10%;
}

.our-certs-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.certification {
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.naics-codes {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.certification-landscaper {
    display: flex;
    order: 1;
    width: auto;
    height: auto;
    max-height: 20%;
    max-width: 20%;
}

.native-plant-certificate {
    display: flex;
    order: 4;
    height: auto;
    width: auto;
    max-height: 40%;
    max-width: 40%;
    transform: rotate(90deg);
}