.our-certification {
}

.our-certs-container {
    display: grid;
}

.certification {
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.naics-codes {
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.certification-landscaper {
    width: 400px;
    height: 400px;
}

.native-plant-certificate {
    height: 400px;
    width: 400px;
    transform: rotate(90deg);
}