.our-certification {
    position: relative;
    padding: 50px;
    // margin-top: 10%;
}

.our-certs-container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.certification {
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.naics-codes {
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.certification-landscaper {
    width: 300px;
    height: auto;
}