header {
    display: flex;
    background-color: #333;
    position: sticky;
    z-index: 9999;
    top: 0;
    width: 100%;
}


// Navigation bar start
.navigation-bar {
    list-style-type: none;
    background-color: #333;
}

.navigation-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    flex-wrap: wrap;
    order: 5;
}

.navigation-bar ul{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.navigation-links li {
    
}

.logo-home-link {
    width: 5%;
    height: 5%;
    margin-right: 50%;
    object-fit: scale-down;
}

.navigation-links a {
    color: rgb(201, 240, 217);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    -webkit-text-stroke: 1px grey;
    text-align: center;
}

.navigation-links a:hover{
    background-color: #111;
}

// Navigation bar end