header {
    display: flex;
    background-color: #333;
<<<<<<< HEAD
    position: sticky;
    z-index: 9999;
    top: 0;
    width: 100%;
=======
    padding: 10px 16px;
    // position: fixed;
    // z-index: 9999;
    // top: 0;
    // width: 100%;
>>>>>>> c88879e56a8563d8e3409c966a23156ac451a62a
}


// Navigation bar start
.navigation-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
<<<<<<< HEAD
    background-color: #333;
    height: 150px;
=======
    // overflow: hidden;
    // flex-wrap: wrap;
    // order: 5;
}

.sticky {
    position: fixed;
    height: 0;
    width: 100%;
>>>>>>> c88879e56a8563d8e3409c966a23156ac451a62a
}

.logo-container {
    // margin-bottom: 90%;
}

.logo-home-link {
    width: 100%;
    height: 100%;
    // margin-top: 5%;
    // margin-bottom: 5%;
    // margin-right: 5%;
    // margin-left: 5%;
    object-fit: contain;
}

.navigation-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
}

.navigation-links li a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    -webkit-text-stroke: 1px grey;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-links a:hover{
    background-color: #111;
}

// Navigation bar end