.about-us {
    position: relative;
    padding: 50px;
    // margin-top: 10%;
}


.about-us-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(236, 255, 244);
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us-description {
    text-align: center;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.team-photo {
    width: 50%;
    height: auto;
    padding: 20px 25% 20px 25%;
}

.highlighted-projects {
    text-align: center;
    
}

.park-photo {
    width: 100%;
    height: auto;
}