$base-color: rgb(45, 103, 53);
$secondary-color: rgb(74, 204, 79);
$base-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.about-us {
    position: relative;
    padding: 50px;
    background-color: rgb(218, 247, 231);
    // margin-top: 10%;
}


.about-us-container {
    // display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: auto;
}

.about-us-description {
    text-align: center;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.about-us-description h1 {
    font-size: 36px;
    font-family: 'Courier New', monospace;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    color: $secondary-color
}

.about-us-description p {
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color
}

.team-photo {
    width: 50%;
    height: auto;
    padding: 20px 25% 20px 25%;
}

.highlighted-projects {
    text-align: center;
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color
}
