$base-color: rgb(45, 103, 53);
$secondary-color: rgb(74, 204, 79);
$base-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.about-us {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(242, 255, 242);
    width: 100%;
}

.about-us-container {
    display: grid;
    grid-template-columns: [first]50% [second]auto;
    height: auto;
    width: auto;
    z-index: 1;
}

.about-us-description {
    grid-column-start: first;
    grid-column-end:second;
    height: 350px;
    width: 600px;
    text-align: center;
    margin-left: 50px;
}

.about-us-description h1 {
    font-size: 36px;
    font-family: 'Courier New', monospace;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    color: $secondary-color
}

.about-us-description p {
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color
}

.team-photo {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-left: 100px;
}

// .highlighted-projects {
//     text-align: center;
//     font-size: 18px;
//     font-family: $base-font;
//     font-style: oblique;
//     color: $base-color;
//     background-color: rgba(255,255,255,.8);
// }

// Background start
// .background-image {
//     // grid-column-start: first;
//     // grid-column-end: second;
//     opacity: 0.9;
//     width: 400px;
//     height: 300px;
//     filter: brightness(70%);
// }
// Background end