$base-color: rgb(74, 204, 79);
$secondary-color: rgb(45, 103, 53);
$base-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

footer {
    display: flex;
    background-color: rgb(218, 247, 231);
}

footer section{
    display: flex;
    // background-color: #333;

}

// Footer navigation links start
.footer-navigation-links li{
    list-style-type: none;
    font-family: $base-font;
}

.footer-navigation-links li a:link {
    text-decoration: none;
    font-size: 15px;
    color: $base-color;
}

.footer-navigation-links li a:visited {
    text-decoration: none;
    font-size: 15px;
    color: $secondary-color;
}

.footer-navigation-links li a:hover{
    text-decoration: none;
    font-size: 15px;
    color: $secondary-color;
}
// Footer navigation links end

.contact-us {
    position: relative;
    left: 90%;
    border-left: solid 2px;
    font-family: $base-font;
    color: $base-color;
}

.contact-us p{
    position: relative;
    left: 90%;
}