$base-color: rgb(45, 103, 53);
$secondary-color: rgb(74, 204, 79);;
$base-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.our-services {
    position: relative;
    padding: 50px;
    // margin-top: 10%;
}

.services-container {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 25px;
    // background-color: rgb(236, 255, 244);
    // margin-right: 5%;
    // margin-bottom: 5%;
    // margin-left: 5%;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-container h1 {
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: auto;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    color: $secondary-color;
}

.services-container p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: rgb(45, 103, 53);
}

.services-list-container {
    padding-left: 40px;
    padding-right: 40px;
}

.landscaping-container {
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color;
}

.landscaping-container p {
    color: $secondary-color;
}

.painting-container {
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color;
}

.painting-container p {
    color: $secondary-color;
}

.powerwashing-container {
    font-size: 18px;
    font-family: $base-font;
    font-style: oblique;
    color: $base-color;
}

.powerwashing-container p {
    color: $secondary-color;
}
