header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  background-color: #333;
  height: 90px;
}

.logo-home-link {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: auto;
}

.navigation-links li a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  -webkit-text-stroke: 1px grey;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation-links a:hover {
  background-color: #111;
}

body {
  background-color: #c9f0d9;
}

.about-us {
  position: relative;
  padding: 50px;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us-description {
  text-align: center;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.about-us-description h1 {
  font-size: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-variant: small-caps;
  color: #4acc4f;
}

.about-us-description p {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: #2d6735;
}

.team-photo {
  width: 50%;
  height: auto;
  padding: 20px 25% 20px 25%;
}

.highlighted-projects {
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
}

.footer-navigation-links li {
  list-style-type: none;
}

.footer-navigation-links li a:link {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.footer-navigation-links li a:visited {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.footer-navigation-links li a:hover {
  text-decoration: none;
  font-size: 15px;
  color: greenyellow;
}

.contact-us {
  position: relative;
  left: 90%;
  border-left: solid 2px;
  color: white;
}

.contact-us p {
  position: relative;
  left: 90%;
}

.gallery h1 {
  text-align: center;
}

.photo-one {
  margin-right: 10%;
  margin-left: 10%;
  width: 400px;
  height: 400px;
}

.photo-two {
  margin-right: 5%;
  margin-left: 5%;
  width: 400px;
  height: 400px;
}

.photo-three {
  margin-right: 10%;
  margin-left: 10%;
  width: 400px;
  height: 400px;
}

.photo-four {
  margin-right: 5%;
  margin-left: 5%;
  width: 400px;
  height: 400px;
}

.our-services {
  position: relative;
  padding: 50px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-container h1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  justify-content: center;
  text-align: center;
}

.services-container p {
  padding-left: 40px;
  padding-right: 40px;
}

.services-list-container {
  padding-left: 40px;
  padding-right: 40px;
}

.our-certification {
  position: relative;
  padding: 50px;
}

.our-certs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px;
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.certification {
  text-align: center;
}

.naics-codes {
  text-align: center;
}

.certification-landscaper {
  width: 300px;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */