header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  background-color: #333;
  height: 150px;
}

.logo-home-link {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: auto;
}

.navigation-links li a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  -webkit-text-stroke: 1px grey;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation-links a:hover {
  background-color: #111;
}

body {
  background-color: #c9f0d9;
}

.about-us {
  position: relative;
  margin-top: 10%;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us-description {
  text-align: center;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.team-photo {
  width: 50%;
  height: auto;
  padding: 20px 25% 20px 25%;
}

.highlighted-projects {
  text-align: center;
}

.park-photo {
  width: 100%;
  height: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
}

.footer-navigation-links li {
  list-style-type: none;
}

.footer-navigation-links li a:link {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.footer-navigation-links li a:visited {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.footer-navigation-links li a:hover {
  text-decoration: none;
  font-size: 15px;
  color: greenyellow;
}

.contact-us {
  position: relative;
  left: 90%;
  border-left: solid 2px;
  color: white;
}

.contact-us p {
  position: relative;
  left: 90%;
}

.gallery h1 {
  text-align: center;
}

.gallery-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-one {
  width: 50%;
  height: 25%;
}

.photo-two {
  width: 50%;
  height: 25%;
}

.photo-three {
  width: 50%;
  height: 25%;
}

.photo-four {
  width: 50%;
  height: 25%;
}

.golfcourse-photo {
  width: 100%;
  height: 10%;
}

.services-container {
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-container h1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  justify-content: center;
}

.services-container h1 {
  text-align: center;
}

.trail-photo {
  width: 100%;
  height: 20%;
}

.our-certs-container {
  background-color: #ecfff4;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forest-photo {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */